@font-face {
  font-family: "Silkscreen";
  src: url(../fonts/Silkscreen-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
html {
  margin: 0;
  padding: 0;
  font-family: Silkscreen, sans-serif;
}

body {
  background-color: black;
}
.snap-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.snapcode {
  width: 25em;
  height: 25em;
  animation: 2s ease-in 1s 1 scaleUp;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: #99629e;
}

h1,
h2 {
  animation: 1s ease-out 0s 1 slideInFromTop;
}

h3 {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}
