/* ANCHOR Fonts */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Silkscreen";
  src: url(../fonts/Silkscreen-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  --dark-red: #8c2e36;
  --light-red: #d93a2b;
  --pink: #9f2aa6;
  --blue: #bad1cd;
  --violet: #99629e;
  --light-violet: #4f2266;
  --orange: #f2762e;
  --text-color: #f2d1c9;
  --font-normal: "Roboto";
  --font-pixel: "Silkscreen";
  --font-scale: 0.5vw;
  --font-h1: clamp(1.5rem, 1.5vw, 2rem);
  --background-img: url(/img/background-image.jpg);
}

body.darkmode {
  --dark-red: #8c2e36;
  --light-red: #d93a2b;
  --pink: #462634;
  --blue: #f2d1c9;
  --violet: #8a548f;
  --light-violet: #1a0d2b;
  --orange: #f2762e;
  --text-color: #f2d1c9;
  --font-normal: "Roboto";
  --font-pixel: "Silkscreen";
  --font-scale: 0.5vw;
  --background-img: url(/img/background-image-dark.gif);
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: var(--background-img);
  background-size: auto;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.header-container {
  margin: 50px auto;
  width: 70vw;
  min-width: 30vw;
  background-color: var(--light-violet);
  height: auto;
  font-size: calc(2 rem + var(--font-scale));
  padding: 3em 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 70vw;
}

.hamburger {
  background: transparent;
  border: 0;
  color: white;
  font-size: 50px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.active {
  color: var(--violet) !important;
}

.invert-img {
  width: 60px;
  height: 60px;
}
.page-logo {
  font-family: var(--font-pixel);
  font-size: var(--font-h1);
  cursor: pointer;
  color: var(--blue);
  text-align: center;
}

.nav-element {
  list-style-type: none;
  padding-right: 25px;
  display: flex;
  align-items: baseline;
  align-items: center;
}
.nav-link {
  font-family: var(--font-pixel);
  color: var(--text-color);
  font-size: calc(1rem + var(--font-scale));
  text-decoration: none;
}

.header-content {
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 35vw;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pb-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: var(--pink) solid 5px;
  transition: 0.3s;
}

.pb-img:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.heading-2 {
  font-size: calc(1.33rem + var(--font-scale));
  font-family: var(--font-pixel);
  color: var(--text-color);
  padding: 20px;
}

.header-text {
  font-family: var(--font-normal);
  font-size: calc(0.7rem + var(--font-scale));
  padding: 20px;
  color: var(--text-color);
}

.about-btn-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
}

.header-about {
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  font-family: var(--font-pixel);
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.5rem + var(--font-scale));
  cursor: pointer;
  transition: 0.2s;
}

.header-about:hover {
  transform: translateY(2.5px);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* MAIN */

.main-container {
  display: flex;
  border-radius: 10px;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: var(--pink);
  margin: 30px auto;
  padding: 50px 0;
  height: auto;
}

.main-heading {
  font-family: var(--font-pixel);
  font-size: calc(1.5rem + var(--font-scale));
  margin-top: 1%;
  color: var(--text-color);
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: inherit;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.icon-text {
  font-family: var(--font-pixel);
  font-size: calc(0.8rem + var(--font-scale));
  padding: 20px;
  color: var(--blue);
}
.icons {
  margin-top: 75px;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: space-evenly;
}

/* Quote Section */

.quote-section {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 70vw;
  background-color: var(--pink);
  height: auto;
}

.quote {
  font-family: var(--font-pixel);
  font-size: calc(1rem + var(--font-scale));
  color: var(--blue);
  overflow-wrap: break-word;
  margin-left: 100px;
  margin-right: 100px;
}

.quote-author {
  text-align: right;
  margin-top: 15px;
}

.footer-container {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin: 30px auto;
  width: 70vw;
  background-color: var(--pink);
  height: auto;
}

.footer-content-container {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  align-items: center;
  padding: 50px 0;
}

.footer-text {
  font-family: var(--font-pixel);
  font-size: calc(0.6rem + var(--font-scale));
  color: var(--text-color);
}
.footer-text-wrapper {
  display: flex;
  flex-direction: row;
}

.footer-text a {
  text-decoration: none;
  color: var(--text-color);
}
.footer-text a:hover {
  text-decoration: none;
  color: var(--violet);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1250px) {
  .nav-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: baseline;
  }
}
@media screen and (max-width: 900px) {
  .nav-list {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .header-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
  }

  .pb-img {
    width: 200px;
    height: 200px;
  }

  .about-btn-container {
    justify-content: center;
  }

  .icons-container {
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .mobile-menu-click {
    display: flex;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    line-height: 100px;
  }
  .mobile-menu-click a {
    font-size: 2rem;
    text-align: center;
  }
  .nav-element {
    padding-right: 0;
  }
  .footer-text-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .footer-trenner {
    display: none;
  }
}
