/* ANCHOR Fonts */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Silkscreen";
  src: url(../fonts/Silkscreen-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --dark-red: #8c2e36;
  --light-red: #d93a2b;
  --pink: #f2aeee;
  --blue: #30c8d9;
  --orange: #f2762e;
  --font-normal: "Roboto";
  --font-pixel: "Silkscreen";
  --font-scale: 0.5vw;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d2d2d2;
  width: 100%;
  height: 100vh;
}

.header-container {
  margin: 0 auto;
  width: 70vw;
  min-width: 30vw;
  background-color: var(--light-red);
  height: 30vh;
  font-size: calc(2 rem + var(--font-scale));
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.page-logo {
  font-family: var(--font-pixel);
  font-size: calc(1.5rem + var(--font-scale));
  cursor: pointer;
}

.nav-element {
  list-style-type: none;
  padding-right: 25px;
}
.nav-link {
  font-family: var(--font-pixel);
  color: var(--dark-red);
  font-size: calc(1rem + var(--font-scale));
  text-decoration: none;
}

.header-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading-2 {
  font-size: calc(1.33rem + var(--font-scale));
  font-family: var(--font-pixel);
  color: var(--pink);
  padding: 20px;
}

.header-text {
  font-family: var(--font-normal);
  font-size: calc(0.7rem + var(--font-scale));
  padding: 20px;
}

.about-btn-container {
  margin-left: 30px;
  margin-top: 20px;
}

.header-about {
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  font-family: var(--font-pixel);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.5rem + var(--font-scale));
  cursor: pointer;
  transition: 0.2s;
}

.header-about:hover {
  transform: translateY(2.5px);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
